name: Github - Release

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      GH_PERSONAL_TOKEN:
        description: "The Github personal token."
        required: true
      SLACK_RELEASES_WEBHOOK_URL:
        description: "The Slack webhook URL."
        required: true



jobs:
  publish:
    name: Github - Release
    runs-on: ubuntu-latest
    steps:
      # Check out
      - name: Checkout - Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true

      # Checkout GitHub Actions
      - name: Checkout - Actions
        uses: actions/checkout@v5
        with:
          repository: kestra-io/actions
          sparse-checkout-cone-mode: true
          path: actions
          sparse-checkout: |
            .github/actions

      # Download Exec
      # Must be done after checkout actions
      - name: Artifacts - Download executable
        uses: actions/download-artifact@v5
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          name: exe
          path: build/executable

      - name: Check if current tag is latest
        id: is_latest
        run: |
          latest_tag=$(git tag | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | sed 's/^v//' | sort -V | tail -n1)
          current_tag="${GITHUB_REF_NAME#v}"
          if [ "$current_tag" = "$latest_tag" ]; then
          echo "latest=true" >> $GITHUB_OUTPUT
          else
          echo "latest=false" >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}

      # GitHub Release
      - name: Create GitHub release
        uses: ./actions/.github/actions/github-release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          MAKE_LATEST: ${{ steps.is_latest.outputs.latest }}
          GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
          SLACK_RELEASES_WEBHOOK_URL: ${{ secrets.SLACK_RELEASES_WEBHOOK_URL }}

      # Trigger gha workflow to bump helm chart version
      - name: GitHub - Trigger the Helm chart version bump
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: kestra-io/helm-charts
          event-type: update-helm-chart-version
          client-payload: |-
            {
              "new_version": "${{ github.ref_name }}",
              "github_repository": "${{ github.repository }}",
              "github_actor": "${{ github.actor }}"
            }